<body id="dwb_body">
<div id="dwb_main_container">
  <div id="dwb_headline">
    <a href="dwb:bookmarks">Bookmarks</a>
    <a href="dwb:quickmarks">Quickmarks</a>
    <a href="dwb:history">History</a>
    <a href="dwb:searchengines">Searchengines</a>
    <a href="dwb:downloads">Downloads</a>
    <a href="dwb:keys">Keys</a>
    <a href="dwb:settings">Settings</a>
    <a href="dwb:plugins">Plugins</a>
  </div>
  <div id="dwb_table_container">
    <table id="dwb_info_table" width="100%" border="0">
      %s
    </table>
  </div>

</div>
</body>
